---
sudo: required
cache: pip

env:
  global:
    - HELM_URL=https://storage.googleapis.com/kubernetes-helm
    - HELM_TGZ=helm-v2.14.1-linux-amd64.tar.gz
    - CHANGE_MINIKUBE_NONE_USER=true
    - K8S_VERSION="v1.13.1"
    - MINIKUBE_VERSION="v1.7.3"

install:
  # Installing Helm
  - wget -q ${HELM_URL}/${HELM_TGZ}
  - tar xzfv ${HELM_TGZ}
  - PATH=`pwd`/linux-amd64/:$PATH

before_script:
  # Enable mount propagation for host path shares: https://github.com/kubernetes/kubernetes/issues/61058#issuecomment-372764783
  - sudo mount --make-rshared /
  # kubectl port forward needs socat: https://github.com/helm/helm/issues/966
  - sudo apt-get install -y socat
  # Download kubectl, which is a requirement for using minikube.
  - curl -Lo kubectl https://storage.googleapis.com/kubernetes-release/release/${K8S_VERSION}/bin/linux/amd64/kubectl && chmod +x kubectl && sudo mv kubectl /usr/local/bin/
  # Download minikube.
  - curl -Lo minikube https://github.com/kubernetes/minikube/releases/download/${MINIKUBE_VERSION}/minikube-linux-amd64 && chmod +x minikube && sudo mv minikube /usr/local/bin/
  - sudo minikube start --vm-driver=none --kubernetes-version=${K8S_VERSION}
  - helm init --wait

script:
  - kubectl cluster-info
  - helm repo add bitnami https://charts.bitnami.com/bitnami
  - helm lint galaxy
  - helm dependency update ./galaxy
  - helm install --wait --timeout 300 -f ci/values-travis.yaml --name travis ./galaxy
  - |
     helm test travis;
     # Show pod logs/describe if there is an error
     if [ $? -ne 0 ]; then
       for pod in $(kubectl get pods | awk '{ print $1 }' | grep -v postgres | grep galaxy); do
         kubectl logs $pod;
       done
       for pod in $(kubectl get pods | awk '{ print $1 }' | grep -v postgres | grep galaxy); do
         kubectl describe pods/$pod;
       done
     fi
  - kubectl get pods
  - kubectl get deployments
