---
language: python

env:
  global:
    - HELM_URL=https://storage.googleapis.com/kubernetes-helm
    - HELM_TGZ=helm-v2.8.2-linux-amd64.tar.gz
    - TARGET_BR=gh-pages
    - REPO_DIR=/home/travis/build/galaxy/galaxy-kubernetes
    - GH_URL=https://galaxy.github.io/galaxy-kubernetes
    - YAMLLINT_VERSION=1.8.1

install:
  # Installing Helm
  - wget -q ${HELM_URL}/${HELM_TGZ}
  - tar xzfv ${HELM_TGZ}
  - PATH=`pwd`/linux-amd64/:$PATH
  - helm init --client-only
  # Installig pip deps
  #- sudo pip install yamllint=="${YAMLLINT_VERSION}"

script:
  # Check charts format
  - >
     for dir in galaxy galaxy-stable postgres_for_galaxy; do
      helm lint ${REPO_DIR}/$dir
      if [ $? != 0 ]; then
       travis_terminate 1
      fi
     done
  # Check YAML styling
  #- yamllint -c .yamllint.yml -s .travis.yml .yamllint.yml
  #- yamllint -c .yamllint.yml -s $(find . -type f -name "Chart.yaml")
  #- yamllint -c .yamllint.yml -s $(find . -type f -name "values.yaml")

