{{- range $handler_num, $e := until (int $.Values.jobHandlers.replicaCount) }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "galaxy.fullname" $ }}-job-{{ $handler_num }}
  labels:
    app.kubernetes.io/name: {{ include "galaxy.name" $ }}
    helm.sh/chart: {{ include "galaxy.chart" $ }}
    app.kubernetes.io/instance: {{ $.Release.Name }}
    app.kubernetes.io/managed-by: {{ $.Release.Service }}
{{- with $.Values.jobHandlers.annotations }}
  annotations:
{{ toYaml . | indent 4 }}
{{- end }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ include "galaxy.fullname" $ }}
      app.kubernetes.io/instance: {{ $.Release.Name }}
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ include "galaxy.fullname" $ }}
        app.kubernetes.io/instance: {{ $.Release.Name }}
      annotations:
        checksum/galaxy_conf: {{ include (print $.Template.BasePath "/configs-galaxy.yaml") $ | sha256sum }}
        checksum/galaxy_rules: {{ include (print $.Template.BasePath "/configmap-galaxy-rules.yaml") $ | sha256sum }}
        checksum/galaxy_extras: {{ include (print $.Template.BasePath "/configmap-extra-files.yaml") $ | sha256sum }}
        {{- with $.Values.jobHandlers.podAnnotations -}}
        {{ toYaml . | nindent 8 }}
        {{ end }}
    spec:
      securityContext:
        fsGroup: 101
      initContainers:
        - name: {{ $.Chart.Name }}-init-postgres
          image: alpine:3.7
          command: ['sh', '-c', 'chown 101:101 {{ $.Values.persistence.mountPath }}; until nc -z -w3 {{ template "galaxy-postgresql.fullname" $ }} 5432; do echo waiting for galaxy-postgres service; sleep 1; done;']
          volumeMounts:
            - name: galaxy-data
              mountPath: {{ $.Values.persistence.mountPath }}
        - name: {{ $.Chart.Name }}-init-mounts
          image: "{{ $.Values.image.repository }}:{{ $.Values.image.tag }}"
          command: ['sh', '-c', {{ include "galaxy.init-container-commands" $ | squote }}]
          volumeMounts:
            {{- range $key,$entry := $.Values.configs }}
            {{ if $entry -}}
            - name: galaxy-conf-files
              mountPath: /galaxy/server/config/{{ $key }}
              subPath: {{ $key }}
            {{- end -}}
            {{- end }}
            - name: galaxy-data
              mountPath: /galaxy/server/config/mutable/
              subPath: config
            - name: galaxy-data
              mountPath: {{ $.Values.persistence.mountPath }}
        - name: {{ $.Chart.Name }}-db-migrations
          image: "{{ $.Values.image.repository }}:{{ $.Values.image.tag }}"
          command: ['sh', '-c', '/galaxy/server/manage_db.sh upgrade']
          env:
          {{ include "galaxy.podEnvVars" $ }}
          volumeMounts:
            {{- range $key,$entry := $.Values.configs }}
            {{ if $entry -}}
            - name: galaxy-conf-files
              mountPath: /galaxy/server/config/{{ $key }}
              subPath: {{ $key }}
            {{- end -}}
            {{- end }}
            {{- range $key,$entry := $.Values.jobs.rules }}
            - name: galaxy-job-rules
              mountPath: /galaxy/server/lib/galaxy/jobs/rules/{{ $key }}
              subPath: {{ $key }}
            {{- end }}
        {{- if $.Values.extraInitContainers -}}
        {{- range $each := $.Values.extraInitContainers -}}
        {{- if $each.applyToJob -}}
        {{- print "- " | nindent 8 -}}
        {{- tpl ((unset (unset $each "applyToJob") "applyToWeb") | toYaml | indent 10 | trim) $ -}}
        {{- end }}
        {{- end }}
        {{- end }}
      containers:
        - name: {{ $.Chart.Name }}-job-{{ $handler_num }}
          image: "{{ $.Values.image.repository }}:{{ $.Values.image.tag }}"
          imagePullPolicy: {{ $.Values.image.pullPolicy }}
          env:
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
          {{ include "galaxy.podEnvVars" $ }}
          command: [
            'sh', '-c',
            '{{- if $.Values.extraInitCommands -}}
             {{- tpl $.Values.extraInitCommands $ | nindent 13 -}};
             {{- end -}}
             python /galaxy/server/scripts/galaxy-main -c /galaxy/server/config/galaxy.yml --server-name job_handler_{{ $handler_num }} --attach-to-pool job-handlers']
          args: []
          readinessProbe:
            exec:
              command: [
                'sh', '-c',
                'python /tmp/probedb.py -e $GALAXY_CONFIG_OVERRIDE_DATABASE_CONNECTION -o $POD_NAME'
              ]
            initialDelaySeconds: {{ $.Values.jobHandlers.readinessProbe.initialDelaySeconds }}
            periodSeconds: {{ $.Values.jobHandlers.readinessProbe.periodSeconds }}
            failureThreshold: {{ $.Values.jobHandlers.readinessProbe.failureThreshold }}
            timeoutSeconds: {{ $.Values.jobHandlers.readinessProbe.failureThreshold }}
          livenessProbe:
            exec:
              command: [
                'sh', '-c',
                'python /tmp/probedb.py -e $GALAXY_CONFIG_OVERRIDE_DATABASE_CONNECTION -o $POD_NAME'
              ]
            initialDelaySeconds: {{ $.Values.jobHandlers.livenessProbe.initialDelaySeconds }}
            periodSeconds: {{ $.Values.jobHandlers.livenessProbe.periodSeconds }}
            failureThreshold: {{ $.Values.jobHandlers.livenessProbe.failureThreshold }}
            timeoutSeconds: {{ $.Values.jobHandlers.livenessProbe.failureThreshold }}
          volumeMounts:
            - name: extra-files-probe-script
              mountPath: /tmp/probedb.py
              subPath: probedb.py
            {{- range $key, $entry := $.Values.extraFileMappings -}}
            {{- if $entry.applyToJob }}
            - name: extra-files-{{ include "galaxy.getFilenameFromPath" $key | replace "." "-" }}
              mountPath: {{ $key }}
              subPath: {{ include "galaxy.getFilenameFromPath" $key }}
            {{- end }}
            {{- end }}
            {{- range $key,$entry := $.Values.configs }}
            {{ if $entry -}}
            - name: galaxy-conf-files
              mountPath: /galaxy/server/config/{{ $key }}
              subPath: {{ $key }}
            {{- end -}}
            {{- end }}
            {{- range $key,$entry := $.Values.jobs.rules }}
            - name: galaxy-job-rules
              mountPath: /galaxy/server/lib/galaxy/jobs/rules/{{ $key }}
              subPath: {{ $key }}
            {{- end }}
            - name: galaxy-data
              mountPath: /galaxy/server/config/mutable/
              subPath: config
            - name: galaxy-data
              mountPath: {{ $.Values.persistence.mountPath }}
            {{- if $.Values.cvmfs.enabled }}
            - name: cvmfs-gxy-main
              mountPath: {{ $.Values.cvmfs.main.mountPath }}
            - name: cvmfs-gxy-data
              mountPath: {{ $.Values.cvmfs.data.mountPath }}
            {{- end }}
            {{- if $.Values.extraVolumeMounts }}
            {{- $.Values.extraVolumeMounts | toYaml | nindent 12 }}
            {{- end }}
          resources:
            {{- toYaml $.Values.resources | nindent 12 }}
      volumes:
        - name: extra-files-probe-script
          configMap:
            name: {{ template "galaxy.fullname" $ }}-probedb-py
        - name: galaxy-conf-files
          {{- if $.Values.useSecretConfigs }}
          secret:
            secretName: {{ template "galaxy.fullname" $ }}-configs
          {{- else }}
          configMap:
            name: {{ template "galaxy.fullname" $ }}-configs
          {{- end }}
        {{- range $key, $entry := $.Values.extraFileMappings -}}
        {{- if $entry.applyToJob }}
        - name: extra-files-{{ include "galaxy.getFilenameFromPath" $key | replace "." "-" }}
          {{- if $entry.useSecret }}
          secret:
            secretName: {{ include "galaxy.fullname" $ }}-{{ include "galaxy.getFilenameFromPath" $key | replace "." "-" }}
          {{- else }}
          configMap:
            name: {{ include "galaxy.fullname" $ }}-{{ include "galaxy.getFilenameFromPath" $key | replace "." "-" }}
          {{- end }}
        {{- end }}
        {{- end }}
        - name: galaxy-job-rules
          configMap:
            name: {{ template "galaxy.fullname" $ }}-job-rules
        - name: galaxy-data
          {{- if $.Values.persistence.enabled }}
          persistentVolumeClaim:
            claimName: {{ template "galaxy.pvcname" $ }}
          {{- else }}
          emptyDir: {}
          {{- end }}
        {{- if $.Values.cvmfs.enabled }}
        - name: cvmfs-gxy-main
          persistentVolumeClaim:
            claimName: {{ template "galaxy.fullname" $ }}-cvmfs-gxy-main-pvc
        - name: cvmfs-gxy-data
          persistentVolumeClaim:
            claimName: {{ template "galaxy.fullname" $ }}-cvmfs-gxy-data-pvc
        {{- end }}
        {{- if $.Values.extraVolumes }}
        {{- $.Values.extraVolumes | toYaml | nindent 8 }}
        {{- end }}
      {{- with $.Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
    {{- with $.Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- with $.Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
    {{- end }}
---
{{- end }}
