# A simple values file for galaxy.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

image:
  repository: galaxy/galaxy-k8s
  tag: 20.05
  pullPolicy: IfNotPresent

nameOverride: ""
fullnameOverride: ""

service:
  type: ClusterIP
  port: 8000
  nodePort: 30700

webHandlers:
  replicaCount: 1
  annotations: {}
  podAnnotations: {}

jobHandlers:
  replicaCount: 1
  # Annotations are used for both job and workflow deployments
  annotations: {}
  podAnnotations: {}
  # Probe variables
  readinessProbe:
    initialDelaySeconds: 60
    periodSeconds: 60
    failureThreshold: 10
    timeoutSeconds: 3
  livenessProbe:
    initialDelaySeconds: 60
    periodSeconds: 60
    failureThreshold: 10
    timeoutSeconds: 3

rbac:
  enabled: true

persistence:
  enabled: true
  name: galaxy-pvc
  # annotations: {}
  # storageClass:
  # existingClaim:
  accessMode: ReadWriteMany
  size: 10Gi
  mountPath: /galaxy/server/database

# extraVolumes:
#   - name: shared-data
#     persistentVolumeClaim:
#       claimName: shared-data-pvc

# extraVolumeMounts:
#   - name: shared-data
#     mountPath: /opt/project/shared-data

extraEnv: []

ingress:
  enabled: true
  annotations:
    kubernetes.io/ingress.class: "nginx"
    nginx.ingress.kubernetes.io/proxy-body-size: "10G"
  path: /
  hosts:
    - ~
    # - host: ~
    #   paths: ["/"]
  tls: []
  #  - secretName: chart-example-tls
  #    hosts:
  #      - chart-example.local

resources:
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  requests:
    cpu: 0.5
    memory: 2G
  limits:
    cpu: 2
    memory: 6G

nodeSelector: {}

tolerations: []

affinity: {}

# extraInitContainers:
#   - name: my-first-container
#     applyToJob: true
#     applyToWeb: true
#     image: "{{.Values.image.repository}}:{{.Values.image.tag}}"
#     command: ['sh', '-c', 'cp "/galaxy/server/config/job_conf.xml.sample_advanced" {{.Values.persistence.mountPath}}/']
#     volumeMounts:
#       - name: galaxy-data
#         mountPath: "{{.Values.persistence.mountPath}}"
#   - name: my-second-container
#     applyToJob: true
#     applyToWeb: false
#     image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
#     command: ['sh', '-c', 'cp "/galaxy/server/config/galaxy.yml" {{.Values.persistence.mountPath}}/']
#     volumeMounts:
#       - name: galaxy-data
#         mountPath: "{{.Values.persistence.mountPath}}"

extraInitCommands: |
#  echo "Running extra mapped script. Influx enabled = {{ .Values.influxdb.enabled }}";
#  /galaxy/server/extra/mapped/script.sh

extraFileMappings:
  /galaxy/server/static/welcome.html:
    useSecret: false
    applyToJob: false
    applyToWeb: true
    content: |
      <!DOCTYPE html>
      <html lang="en">
          <head>
              <meta charset="utf-8">
              <link rel="stylesheet" href="style/base.css" type="text/css" />
          </head>
          <body class="m-0">
              <div class="py-4">
                  <div class="container">
                      <h2>Welcome to <strong>Galaxy v{{ .Chart.AppVersion }}</strong></h2>
                      <br>
                      <a target="_blank" href="https://docs.galaxyproject.org/en/master/" class="btn btn-primary">Documentation »</a>
                      <a target="_blank" href="https://galaxyproject.org" class="btn btn-primary">Community Hub »</a>
                  </div>
                  <br>
                  {{- if .Values.influxdb.enabled }}
                  <div class="container">
                      <iframe width="100%" height="1300px" frameborder="0" marginheight="0" marginwidth="0"
                          src="/grafana/d/gxy_general_stats_{{ .Release.Name }}/galaxy-overview?refresh=60s&orgId=1&kiosk&theme=light"></iframe>
                  </div>
                  {{- end }}
              </div>
              <div class="container">
                  <footer class="text-center">
                      <p>Galaxy v{{ .Chart.AppVersion }}, Helm Chart v{{ .Chart.Version }}</p>
                  </footer>
              </div>
          </body>
      </html>

postgresql:
  enabled: true
  galaxyDatabaseUser: galaxydbuser
  # Password is autogenerated and stored in a secret if not specified
  # galaxyDatabasePassword:
  # galaxyExistingSecret:
  # galaxyExistingSecretKeyRef:
  nameOverride: galaxy-postgres
  initdbScriptsSecret: "{{ .Release.Name }}-galaxy-initdb"
  persistence:
    enabled: true
  extraEnv:
  - name: GALAXY_DB_USER_PASSWORD
    valueFrom:
      secretKeyRef:
        name: '{{default (printf "%s-galaxy-secrets" .Release.Name) .Values.galaxyExistingSecret}}'
        key: '{{default "galaxy-db-password" .Values.galaxyExistingSecretKeyRef}}'

cvmfs:
  enabled: false

# When this flag is set to true, all configs will be set in secrets,
# when it is set to false, all configs will be set in configmaps
useSecretConfigs: false

# All files will be relative to `/galaxy/server/config/` directory
configs:
  job_conf.xml: |
    <job_conf>
        <plugins>
            <plugin id="local" type="runner" load="galaxy.jobs.runners.local:LocalJobRunner" workers="4" />
            <plugin id="k8s" type="runner" load="galaxy.jobs.runners.kubernetes:KubernetesJobRunner">
              <param id="k8s_use_service_account">true</param>
              <param id="k8s_persistent_volume_claims">
              {{- template "galaxy.pvcname" . -}}:{{.Values.persistence.mountPath}}
              {{- if .Values.extraVolumes }}
                {{- range $num, $entry := .Values.extraVolumes }}
                  {{- if $entry.name }}
                    {{- if $entry.persistentVolumeClaim}}
                      {{- if $entry.persistentVolumeClaim.claimName }}
                        {{- range $num, $mount := $.Values.extraVolumeMounts }}
                          {{- if $mount.name }}
                            {{- if (eq $entry.name $mount.name) }}
                              {{- if $mount.mountPath -}}
                                ,{{- $entry.persistentVolumeClaim.claimName -}}:{{- $mount.mountPath -}}
                              {{- end }}
                            {{- end }}
                          {{- end }}
                        {{- end }}
                      {{- end }}
                    {{- end }}
                  {{- end }}
                {{- end }}
              {{- end -}}
              </param>
              <param id="k8s_namespace">{{ .Release.Namespace }}</param>
              <!-- Must be DNS friendly and less than 20 characters -->
              <param id="k8s_galaxy_instance_id">{{ .Release.Name }}</param>
              <param id="k8s_run_as_user_id">101</param>
              <param id="k8s_run_as_group_id">101</param>
              <param id="k8s_fs_group_id">101</param>
              <param id="k8s_supplemental_group_id">101</param>
              <param id="k8s_pull_policy">IfNotPresent</param>
              <param id="k8s_cleanup_job">always</param>
              <param id="k8s_pod_priority_class">{{ include "galaxy.fullname" . }}-job-priority</param>
            </plugin>
        </plugins>
        <destinations default="dynamic-k8s-dispatcher">
            <destination id="local" runner="local"/>
            <destination id="dynamic-k8s-dispatcher" runner="dynamic">
              <param id="type">python</param>
              <param id="function">k8s_container_mapper</param>
              <param id="docker_default_container_id">{{ .Values.image.repository }}:{{ .Values.image.tag }}</param>
              <param id="docker_enabled">true</param>
            </destination>
        </destinations>
        <limits>
            <limit type="registered_user_concurrent_jobs">5</limit>
            <limit type="anonymous_user_concurrent_jobs">2</limit>
        </limits>
    </job_conf>
  uwsgi.yml: |
    uwsgi:
      virtualenv: /galaxy/server/.venv
      processes: 1
      http: 0.0.0.0:8080
      pythonpath: /galaxy/server/lib
      thunder-lock: true
      manage-script-name: true
      buffer-size: 16384
      offload-threads: 2
      threads: 4
      die-on-term: true
      master: true
      hook-master-start: unix_signal:2 gracefully_kill_them_all
      enable-threads: true
      py-call-osafterfork: true
      static-map: /static/style=/galaxy/server/static/style/blue
      static-map: /static=/galaxy/server/static
      static-map: /favicon.ico=/galaxy/server/static/favicon.ico
      static-safe: /galaxy/server/client/galaxy/images
      mount: {{.Values.ingress.path}}=galaxy.webapps.galaxy.buildapp:uwsgi_app()
  galaxy.yml:
    galaxy:
      database_connection: postgresql://unused:because@overridden_by_envvar
      integrated_tool_panel_config: "/galaxy/server/config/mutable/integrated_tool_panel.xml"
      sanitize_whitelist_file: "/galaxy/server/config/mutable/sanitize_whitelist.txt"
      tool_config_file: "/galaxy/server/config/mutable/editable_shed_tool_conf.xml,/galaxy/server/config/tool_conf.xml"
      shed_tool_config_file: "/galaxy/server/config/mutable/editable_shed_tool_conf.xml"
      tool_dependency_dir: "{{.Values.persistence.mountPath}}/deps"
      job_config_file: "/galaxy/server/config/job_conf.xml"
      containers_resolvers_config_file: "/galaxy/server/config/container_resolvers_conf.xml"
      workflow_schedulers_config_file: "/galaxy/server/config/workflow_schedulers_conf.xml"
      build_sites_config_file: "/galaxy/server/config/build_sites.yml"
      shed_data_manager_config_file: "/galaxy/server/config/mutable/shed_data_manager_conf.xml"
      shed_tool_data_table_config: "/galaxy/server/config/mutable/shed_tool_data_table_conf.xml"
      enable_data_manager_user_view: true
      tool_path: "{{.Values.persistence.mountPath}}/tools"
      tool_data_path: "{{.Values.persistence.mountPath}}/tool-data"
      conda_auto_init: false
  container_resolvers_conf.xml: |
    <containers_resolvers>
      <explicit />
      <mulled />
    </containers_resolvers>
  workflow_schedulers_conf.xml: |
    <?xml version="1.0"?>
    <workflow_schedulers default="core">
      <core id="core" />
      <handlers default="schedulers">
          <handler id="workflow_scheduler0" tags="schedulers"/>
      </handlers>
    </workflow_schedulers>
  sanitize_whitelist.txt: |
    toolshed.g2.bx.psu.edu/repos/crs4/taxonomy_krona_chart/taxonomy_krona_chart/2.6.1
    toolshed.g2.bx.psu.edu/repos/crs4/taxonomy_krona_chart/taxonomy_krona_chart/2.6.1.1
    toolshed.g2.bx.psu.edu/repos/devteam/fastqc/fastqc/0.52
    toolshed.g2.bx.psu.edu/repos/devteam/fastqc/fastqc/0.63
    toolshed.g2.bx.psu.edu/repos/devteam/fastqc/fastqc/0.64
    toolshed.g2.bx.psu.edu/repos/devteam/fastqc/fastqc/0.65
    toolshed.g2.bx.psu.edu/repos/devteam/fastqc/fastqc/0.67
    toolshed.g2.bx.psu.edu/repos/devteam/fastqc/fastqc/0.68
    toolshed.g2.bx.psu.edu/repos/devteam/fastqc/fastqc/0.69
    toolshed.g2.bx.psu.edu/repos/devteam/fastqc/fastqc/0.72
    toolshed.g2.bx.psu.edu/repos/devteam/fastqc/fastqc/0.72+galaxy1
    toolshed.g2.bx.psu.edu/repos/engineson/multiqc/multiqc/1.0.0.0
    toolshed.g2.bx.psu.edu/repos/iuc/dexseq/dexseq/1.20.1
    toolshed.g2.bx.psu.edu/repos/iuc/fastp/fastp/0.19.5+galaxy1
    toolshed.g2.bx.psu.edu/repos/iuc/jbrowse/jbrowse_to_standalone/0.5.2
    toolshed.g2.bx.psu.edu/repos/iuc/jbrowse/jbrowse_to_standalone/1.16.5+galaxy6
    toolshed.g2.bx.psu.edu/repos/iuc/jbrowse/jbrowse/0.5.2.1
    toolshed.g2.bx.psu.edu/repos/iuc/jbrowse/jbrowse/1.16.5+galaxy6
    toolshed.g2.bx.psu.edu/repos/iuc/jbrowse/jbrowse/1.16.5+galaxy7
    toolshed.g2.bx.psu.edu/repos/iuc/macs2/macs2_callpeak/2.1.0.20140616.0
    toolshed.g2.bx.psu.edu/repos/iuc/macs2/macs2_callpeak/2.1.0.20151222.0
    toolshed.g2.bx.psu.edu/repos/iuc/meme_meme/meme_meme/4.11.0.0
    toolshed.g2.bx.psu.edu/repos/iuc/meme_meme/meme_meme/4.11.0.1
    toolshed.g2.bx.psu.edu/repos/iuc/meme_meme/meme_meme/4.11.1.0
    toolshed.g2.bx.psu.edu/repos/iuc/multiqc/multiqc/1.3.1
    toolshed.g2.bx.psu.edu/repos/iuc/multiqc/multiqc/1.5.0
    toolshed.g2.bx.psu.edu/repos/iuc/multiqc/multiqc/1.6
    toolshed.g2.bx.psu.edu/repos/iuc/multiqc/multiqc/1.7
    toolshed.g2.bx.psu.edu/repos/iuc/prestor_abseq3/prestor_abseq3/0.5.4
    toolshed.g2.bx.psu.edu/repos/iuc/quast/quast/4.1.1
    toolshed.g2.bx.psu.edu/repos/iuc/quast/quast/4.6.3
    toolshed.g2.bx.psu.edu/repos/iuc/quast/quast/5.0.2+galaxy0
    toolshed.g2.bx.psu.edu/repos/iuc/quast/quast/5.0.2+galaxy1
    toolshed.g2.bx.psu.edu/repos/iuc/seurat/seurat/3.1.2
    toolshed.g2.bx.psu.edu/repos/iuc/snpeff/snpEff/4.3+T.galaxy1
  build_sites.yml:
    - type: ucsc
      file: "/cvmfs/data.galaxyproject.org/managed/location/ucsc_build_sites.txt"
      display: [main,archaea,ucla]
    - type: gbrowse
      file: "/galaxy/server/tool-data/shared/gbrowse/gbrowse_build_sites.txt"
      display: [wormbase,tair,modencode_worm,modencode_fly]
    - type: ensembl
      file: "/galaxy/server/tool-data/shared/ensembl/ensembl_sites.txt"
    - type: ensembl_data_url
      file: "/galaxy/server/tool-data/shared/ensembl/ensembl_sites_data_URL.txt"
    - type: igv
      file: "/galaxy/server/tool-data/shared/igv/igv_build_sites.txt.sample"
    - type: rviewer
      file: "/galaxy/server/tool-data/shared/rviewer/rviewer_build_sites.txt.sample"
  tool_conf.xml: |
    <?xml version='1.0' encoding='utf-8'?>
    <toolbox monitor="true">
      <section id="get_data" name="Get Data">
        <tool file="data_source/upload.xml" />
      </section>
      <label id="general_text_label" text="General Text Tools" />
      <section id="text_manipulation" name="Text Manipulation">
        <tool file="filters/fixedValueColumn.xml" />
        <tool file="filters/catWrapper.xml" />
        <tool file="filters/condense_characters.xml" />
        <tool file="filters/convert_characters.xml" />
        <tool file="filters/mergeCols.xml" />
        <tool file="filters/cutWrapper.xml" />
        <tool file="filters/changeCase.xml" />
        <tool file="filters/pasteWrapper.xml" />
        <tool file="filters/remove_beginning.xml" />
        <tool file="filters/randomlines.xml" />
        <tool file="filters/headWrapper.xml" />
        <tool file="filters/tailWrapper.xml" />
        <tool file="filters/trimmer.xml" />
        <tool file="filters/wc_gnu.xml" />
        <tool file="filters/secure_hash_message_digest.xml" />
      </section>
    </toolbox>
# Additional dynamic rules to map into the container.
jobs:
  rules:
    container_mapper_rules.yml: |
      mappings:
        - tool_ids:
            - Summary_Statistics1
          container:
            docker_container_id_override: cloudve/gsummary:latest
            resource_set: small
        - tool_ids:
            - toolshed.g2.bx.psu.edu/repos/devteam/data_manager_sam_fasta_index_builder/sam_fasta_index_builder/.*
          container:
            docker_container_id_override: cloudve/sam-fasta-dm:latest
            resource_set: small
        - tool_ids:
            - toolshed.g2.bx.psu.edu/repos/devteam/data_manager_bwa_mem_index_builder/bwa_mem_index_builder_data_manager/.*
          container:
            docker_container_id_override: cloudve/bwa-dm:latest
            resource_set: small
        - tool_ids:
            - toolshed.g2.bx.psu.edu/repos/crs4/prokka/prokka/1.14.5
          container:
            docker_container_id_override: cloudve/prokka:1.14.5
        - tool_ids:
            - toolshed.g2.bx.psu.edu/repos/iuc/jbrowse/jbrowse/1.16.5+galaxy6
          container:
            docker_container_id_override: cloudve/jbrowse:1.16.5
        - tool_ids:
            - sort1
            - Grouping1
          container:
            docker_container_id_override: {{ .Values.image.repository }}:{{ .Values.image.tag }}
            resource_set: small
      resources:
        resource_sets:
          small:
            requests:
              cpu: 1
              memory: 500m
            limits:
              cpu: 2
              memory: 1G
        default_resource_set: small
    k8s_container_mapper.py: |
      {{- (.Files.Get "files/rules/k8s_container_mapper.py") }}

influxdb:
  enabled: false
  url:
  username: ""
  password: ""
